html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #7aa1d2, #dbd4b4, #cc95c0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section {
  padding: 60px 0;
}

.search-form {
  margin-bottom: 40px;
}

.search-input {
  height: 30px;
  width: 200px;
}

.gallery__js-btn {
  width: 120px;
  height: 40px;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  transition: all 400ms linear;
  text-transform: uppercase;
  cursor: pointer;
}

.gallery__js-btn:hover,
.gallery__js-btn:focus {
  color: #000;
  box-shadow: black 0px 0px 10px;
  transform: scale(1.2);
  background: linear-gradient(to right, #7aa1d2, #dbd4b4, #cc95c0);
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.photo-card {
  width: 22%;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

input,
button {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}
